.aboutWrapper {
    padding: 20px 0;

    .imgItems {
        display: flex;
        img {
            max-width: 25%;
        }
    }
    
    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 15px;
    }
}



