#alkalin { 
  html, body {
    height: 100%;

    .buttonWrapper {
      margin: 15px;
    }
  }
  
  #menu {
      position: absolute;
      bottom: 20px;
      width: 100%;
      text-align: center;
  }
  .element {
      width: 120px;
      height: 160px;
      box-shadow: 0px 0px 12px rgba(57, 69, 74, 0.85);
      border: 3px solid rgba(	57, 69, 74, 0.9);
      text-align: center;
      cursor: default;
  }
  .element:hover {
      box-shadow: 0px 0px 12px rgba(57, 69, 74, 0.5);
      border: 6px solid rgba(	57, 69, 74, 0.8);
  }
  .element .number {
      position: absolute;
      top: 20px;
      right: 20px;
      font-size: 12px;
      color: rgba(0, 0, 0, 1);
  }
  .element .symbol {
      position: absolute;
      top: 40px;
      left: 0px;
      right: 0px;
      font-size: 60px;
      font-weight: bold;
      color: rgba(0,0,0, 1);
      text-shadow: 0 0 10px rgba(57, 69, 74,0.95);
  }
  .element .details {
      position: absolute;
      bottom: 15px;
      left: 0px;
      right: 0px;
      font-size: 12px;
      color: rgba(0, 0, 0, 1);
  }

  button#table {
      padding: 5px 10px;
      font-size: 14px;
      margin: 25px 0px 0 30px;
  }

  button#helix.btn {
      padding: 6px 12px;
      margin: 2px 20px 0 0px;
      border-width: 2px;
  }
 
  section#top {
      width: 100%;
      text-align: center;
      height: 1000px;
    }
    
  .main{
    margin-top: 0;
  }
  div#header {
    font-family: "Fugaz One";
    font-weight: 300;
    font-size: 1.2em;
    line-height: 1.75em;
    color: #39454a;
  }
    
  div.phrase {
    font-family: "Space Mono", sans-serif;
    font-weight: 300;
    font-size: 1.2em;
    line-height: 1.75em;
    color: #e376c4;
  }
  .button-flip {
    outline: none;
    color: #fff;
    font-family: "Courier New";
    font-style: oblique;
    font-weight: 900;
  }
  
  @-webkit-keyframes bounce {
    0% {
      transform: scale(1, 1) translate(0px, 0px);
    }
    30% {
      transform: scale(1, 0.8) translate(0px, 3px);
    }
    75% {
      transform: scale(1, 1.1) translate(0px, -7px);
    }
    100% {
      transform: scale(1, 1) translate(0px, 0px);
    }
  }
  
  .button-flip:hover a {
    z-index: 55;
    color: #fff;
    font-family: "Courier New", serif;
    font-style: oblique;
    font-weight: 900;
    background-color: #e55d87;
    -webkit-animation: bounce 0.75s infinite;
    animation: bounce 0.75s infinite;
  }
  
  .button-flip a {
    color: #fff;
    font-family: "Courier New", serif;
    font-style: oblique;
    font-weight: 900;
    background-color: #00ff00;
    margin: 0 0 25px 0;
  }
}
    