.animation {
  position: relative;
  padding-bottom: 35%;
  height: 0;
  width: 35%;
  margin: 5% auto 10% auto; 
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.cell-clone {
  position: absolute;
  width: 8%;
  padding-bottom: 7%;
  height: 0;
  border-radius: 50%;
  border: 0.1vw solid #A49480;
  background: blue;
  background: -webkit-radial-gradient(#73a4ee75, #0742996c);
  background: radial-gradient(#73a4ee75, #0742996c), radial-gradient(transparent, rgba(0, 0, 0, 0.4));
}

.cell {
  position: absolute;
  background: transparent;
  margin: 0 auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.cell::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  border: 0.4vw solid #A49480;
  animation: fadeIn 7s forwards;
  animation-delay: 5s;
  background: blue;
  background: -webkit-radial-gradient(#73a4ee75, #0742996c);
  background: radial-gradient(#73a4ee75, #0742996c), radial-gradient(transparent, rgba(0, 0, 0, 0.4));
  height: 60%;
  width: 60%;
  opacity: 0;
  z-index: -1;
  margin: 0 auto;
  top: 20%;
  left: 0;
  bottom: 0;
  right: 0;
}

@keyframes fadeIn {
  50% {
    transform: scale(1);
  }
  80% {
    transform: scale(.1);
  }
  98% {
    opacity: 1;
  }
  100% {
    transform: scale(.1);
    opacity: 0;
  }
}

.organelle-container {
  position: absolute;
  width: 60%;
  height: 60%;
  animation: scale 7s forwards;
  animation-delay: 5s;
  margin: 0 auto;
  top: 20%;
  left: 0;
  bottom: 0;
  right: 0;
}

@keyframes scale {
  50% {
    transform: scale(1);
  }
  80% {
    transform: scale(.1);
    opacity: 1;
  }
  100% {
    transform: scale(.1);
    opacity: 0;
  }
}

.nucleus {
  position: absolute;
  margin: 0 auto;
  border-radius: 50%;
  border: 0.2vw solid rgba(219, 199, 199);
  background: rgb(187, 100, 114);
  width: 30%;
  height: 30%;
  left: 29%;
  top: 20%;
}

.nucleulus {
  position: absolute;
  margin: 0 auto;
  border-radius: 50%;
  border: 0.1vw solid rgba(255, 0, 0, .2);
  background: rgb(116, 61, 61);
  width: 25%;
  height: 25%;
  left: 61%;
  top: 26%;
}

.mitochondria {
  position: absolute;
  margin: 0 auto;
  border-radius: 100px;
  border: 0.2vw double white;
  background-color: orange;
  width: 10%;
  height: 20%;
}

.mitochondria svg {
  position: absolute;
  margin: 0 auto;
  left: -5%;
}

#mito1 {
  top: 30%;
  left: 50%;
  animation: float1 15s linear infinite alternate;
}

@keyframes float1 {
  from {
    transform: rotate(60deg) translateX(5%) rotate(60deg);
  }
  to {
    transform: rotate(300deg) translateX(5%) rotate(360deg);
  }
}

#mito2 {
  top: 50%;
  left: 70%;
  animation: float2 10s linear infinite alternate;
}

@keyframes float2 {
  from {
    transform: rotate(60deg) translateX(1%) rotate(40deg);
  }
  to {
    transform: rotate(360deg) translateX(90%) rotate(-360deg);
  }
}

#mito3 {
  top: 20%;
  left: 20%;
  animation: float3 28s linear infinite alternate-reverse;
}

@keyframes float3 {
  from {
    transform: rotate(30deg) rotate(20deg);
  }
  to {
    transform: rotate(50deg) rotate(100deg);
  }
}

.mitochondria, .lysosome-box, .cytoskeleton-green svg, .cytoskeleton-blue svg, .cytoskeleton-blue2 svg, .nucleus, .golgi {
  z-index: 2;
}

.lysosome-box {
  position: absolute;
  margin: 0 auto;
  background: none;
  width: 20%;
  padding-bottom: 20%;
  height: 0;
  top: 70%;
  left: 35%;
  animation: float3 15s linear infinite alternate-reverse;
}

#box1 {
  top: 50%;
  left: 15%;
  animation: float2 18s linear infinite alternate-reverse;
}

#box2 {
  top: 40%;
  left: 50%;
  animation: float1 17s linear infinite alternate;
}

.lysosome {
  position: absolute;
  margin: 0 auto;
  border-radius: 50%;
  border: 0.2vw solid rgba(255, 0, 0, .2);
  background: pink;
  width: 50%;
  height: 50%;
}

.lysosome::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  top: 35%;
  width: 5%;
  height: 5%;
  background: red;
  box-shadow: 1vh 0.5vw 0 0 red, 0.5vh 0.2vw 0 0 red, 1vh 0.3vw 0 0 red, 0.5vh 0.5vw 0 0 red, 1vh -0.5vw 0 0 red;
  left: 35%;
}

.cytoskeleton-green svg {
  position: absolute;
  margin: 0 auto;
  animation: float1 27s linear infinite normal;
  top: -20%;
  left: 5%;
}

.cytogreen1 {
  transform: rotate(15deg);
}

.cytogreen3 {
  transform: rotate(30deg);
}

.cytoskeleton-blue svg {
  animation: float3 35s linear infinite normal;
  position: absolute;
  margin: 0 auto;
  top: 25%;
  left: -20%;
  right: 0;
  bottom: 0;
}

.cytoskeleton-blue2 svg {
  animation: float2 35s linear infinite normal;
  position: absolute;
  margin: 0 auto;
  top: 30%;
  left: -10%;
  transform: scale(.6);
}

.golgi {
  position: absolute; 
  border-radius: 50%;
  background: rgb(100, 100, 100);
  width: 1%;
  height: 1%;
  box-shadow: 
  4vh 8vw 0 0 rgb(100, 100, 100), 
  8vh 4vw 0 0 rgb(100, 100, 100), 
  6vh 5vw 0 0 rgb(100, 100, 100), 
  5vh 7vw 0 0 rgb(100, 100, 100), 
  1vh 9vw 0 0 rgb(100, 100, 100),
  2vh 7vw 0 0 rgb(100, 100, 100),
  7vh 5vw 0 0 rgb(100, 100, 100),
  6vh 3vw 0 0 rgb(100, 100, 100), 
  3vh 1vw 0 0 rgb(100, 100, 100);
  animation: golgiFloat 22s linear infinite alternate;
}

@keyframes golgiFloat {
  from {
    transform: rotate(5deg) translateX(5vw) rotate(5deg);
  }
  to {
    transform: rotate(20deg) translateX(20vw) rotate(15deg);
  }
}

.tissue-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 30% auto;
  width: 75%;
  height: 40%;
  background: transparent;
  animation: tissue-color 7s forwards;
  animation-delay: 14s;
}

@keyframes tissue-color {
  70% {
    transform: scale(1);
    -moz-transform: scale(1);
  }
  90% {
    left: 0;
    top: 0;
  }
  100% {
    left: 15%;
    top: 0;
    transform: scale(0.03, 0.03);
    -moz-transform: scale(0.03, 0.03);
    transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
  }
}

.organ-system {
  background: url("./organsystemfinalslow_animated.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: auto;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.organ {
  background: url("./heartfinal_animated.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: auto;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
