.classificationWrapper {

  section#visual {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
  }

  h1 {
    text-transform: uppercase;
    text-align: left;
    margin: 35px 0;
  }

  #header {
    display: flex;
    flex-direction: column;
  }

  #classification-input {
    width: 70%;
    text-align: left;
    margin-bottom: 35px;
  }

  div.phrase {
    font-family: "Space Mono", sans-serif;
    font-weight: 300;
    font-size: 1.2em;
    line-height: 1.75em;
    width: 85%;
    text-align: justify;
  }

  .zero,
  .two,
  .six {
    color: #6ace10;
  }

  .one,
  .four {
    color: #ed462f;
  }

  .three,
  .five {
    color: #7f44ce;
  }
}