
.dnaWrapper {
  
  position: relative;
  height: 750px;
  width: 100%;
  overflow: hidden;

  .dna-img {
    position: fixed;
    width: 50%;
    height: 50%;
  }

  .t {
    top: 0;
    left: 0;
  }

  .c {
    top: 0;
    right: 0;
  }

  .a {
    bottom: 0;
    left: 0;
  }

  .g {
    bottom: 0;
    right: 0;
  }  
}