section#top #pupil {
  position: absolute;
  bottom: -10px;
  left: -32px;
  width: 100%;
  background: transparent url(eye/pupil.png) no-repeat center center;
  height: 100%;
}

section#top #cornea {
  position: absolute;
  top: 0;
  left: -75px;
  width: 100%;
  background: transparent url(eye/cornea.png) no-repeat center center;
  height: 100%;
}

section#top #fovea {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent url(eye/fovea.png) no-repeat center center;
  height: 100%;
}

section#top #cillary_muscle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent url(eye/cillary_muscle.png) no-repeat center center;
  height: 100%;
}

section#top #lens {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent url(eye/lens.png) no-repeat center center;
  height: 100%;
}

section#top #conjunctiva {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent url(eye/conjunctiva.png) no-repeat center center;
  height: 100%;
}

section#top #cornea_label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
}

section#top #pupil_label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
}
section#top #fovea_label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
}

section#top #cillary_muscle_label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
}

section#top #lens_label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
}

section#top #conjunctiva_label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
}
