section#visual #pupil {
  position: absolute;
  bottom: -10px;
  left: -32px;
  width: 100%;
  height: 100%;
}

section#visual #cornea {
  position: absolute;
  top: 0;
  left: -75px;
  width: 100%;
  height: 100%;
}

section#visual #fovea {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

section#visual #cillary_muscle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

section#visual #lens {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

section#visual #conjunctiva {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

section#visual #cornea_label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
}

section#visual #pupil_label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
}
section#visual #fovea_label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
}

section#visual #cillary_muscle_label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
}

section#visual #lens_label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
}

section#visual #conjunctiva_label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
}
