 .lessonContainer {
  margin: 30px;
}

.lesson-table {
  display: flex;
  justify-content: center;
  margin: 30px;
}

table,
td,
th {
  vertical-align: middle;
  border: none;
}
th {
  border-bottom: 1px solid #ddd;
}
