@charset 'UTF-8';
@import url("https://fonts.googleapis.com/css?family=Fugaz+One");
@import url("https://fonts.googleapis.com/css?family=Bitter");
@import url("https://fonts.googleapis.com/css?family=Space+Mono");

body,
input,
textarea,
select {
  font-family: "Space Mono", sans-serif;
  font-weight: 300;
  font-size: 12pt;
  line-height: 1.75em;
  color: #39454b;
  letter-spacing: 0.5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
  color: inherit;
  font-family: "Fugaz One";
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
  text-decoration: none;
}

.dropdown-menu {
  ul {
    list-style: none;
    padding: 5px;
    font-size: 1.5em;
    color: #e576c4;
  }
}

h1 {
  text-align: center;
  color: #3b3b3b;
  font-size: 2em;
  margin: unset;
}

a {
  outline: none;
}

#featuredLessons h1 {
  font-size: 1.5em;
  color: #3b3b3b;
}

@media screen and (min-width: 700px) {
  h1 {
    font-size: 4em;
  }
  #featuredLessons h1 {
    font-size: 3em;
    line-height: 1.75em;
  }
  p {
    font-size: 1.5em;
  }
}

#featuredLessons {
  background: yellow;
}

h2 {
  font-size: 2.25em;
  letter-spacing: -2px;
  line-height: 1.25em;
}

strong,
b {
  font-weight: 900;
  color: inherit;
}

.navbar {
  margin-bottom: 0;
  background-color: #39454a;
  background-image: none;
}

.navbar-default {
  border-color: #39454a;
}

.navbar-default .navbar-nav > .active > a {
  background-color: #39454a;
  background-image: none;
  color: white;
  box-shadow: none;
}

.navbar-default .navbar-brand {
  color: white;
}

.dropdown {
  margin: 1vh auto;
}

#third,
#third h1 {
  background-color: hsl(318, 68%, 68%);
  color: white;
  padding: 2%;
}

.footer {
  background-color: #39454a;
  padding: 2%;
}

.footer p,
.subscription {
  color: white;
}

.footer label {
  color: rgb(255, 255, 0); /* fallback for old browsers */
}

.mailchimp {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  div {
    margin-left: 10px;
  }
}

.logIn {
  margin: 30px;
}

.signUp {
  margin: 30px;
}

.editUser {
  margin: 30px;
}

.alert-success {
  margin: 0;
}
