
<div class="nav-container">
  <h1>Lessons</h1>
  <div class="lesson-table">
    <table>
      <tbody>
      <% @lessons.each do |lesson| %>
        <tr>
            <td><%= link_to lesson&.name, lesson %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <div>

  <br>
</div>


