<p id="notice"><%= notice %></p>

<h1>My Completed Lessons</h1>

  <div class="lessonContainer">
    <table class="table table-bordered">
      <tbody>
        <% @completed_lessons.each do |completed_lesson| %>
          <% if completed_lesson.completed == true &&  current_user.id == completed_lesson.user_id%>
            <tr>
            <td><%= completed_lesson.lesson&.name %></td>
            <td><%= link_to 'mark incomplete', togglelesson_path(completed_lesson), :method => :put %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>

<br>

